<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmartLineProduction.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SmartLineProduction.Properties.Settings.SISTEMATICA_FACTORYConnectionStringOk"
            connectionString="Data Source=SERVER208\SQLEXPRESS;Initial Catalog=SISTEMATICA_FACTORY;Persist Security Info=True;User ID=sa;Password=aavesp19!;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SmartLineProduction.Properties.Settings>
            <setting name="FW_folder" serializeAs="String">
                <value>\\dc\AREA_IT\AREA_FIRMWARE\SmartLine\Compilati\</value>
            </setting>
            <setting name="Commander_path" serializeAs="String">
                <value>C:\Commander</value>
            </setting>
            <setting name="Doc_folder" serializeAs="String">
                <value>\\dc\AREA_UFFICI\AREA_PRODOTTO\SMARTLINE\</value>
            </setting>
            <setting name="Settings_Brother_SL" serializeAs="String">
                <value>178|89</value>
            </setting>
            <setting name="Settings_Brother_Antiman" serializeAs="String">
                <value>178|89</value>
            </setting>
            <setting name="Settings_Brother_Default" serializeAs="String">
                <value>\\DC\TJ-4120TN_SL</value>
            </setting>
        </SmartLineProduction.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2460.0.44" newVersion="18.2460.0.44" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Grid.Windows" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2460.0.44" newVersion="18.2460.0.44" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Grouping.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2450.0.44" newVersion="18.2450.0.44" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetZip" publicKeyToken="6583c7c814667745" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.13.3.0" newVersion="1.13.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentFTP" publicKeyToken="f4af092b1d8df44f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-33.1.6.0" newVersion="33.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpSnmpLib" publicKeyToken="4c00852d3788e005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.3.0.0" newVersion="12.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>