<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Csv" version="2.0.62" targetFramework="net472" />
  <package id="DotNetZip" version="1.15.0" targetFramework="net472" />
  <package id="EmbeddedMail" version="0.1.1.11" targetFramework="net472" />
  <package id="FluentFTP" version="33.1.6" targetFramework="net472" />
  <package id="FreeSpire.PDF" version="7.2.0" targetFramework="net472" />
  <package id="Lextm.SharpSnmpLib" version="12.3.0" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net472" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
</packages>